<br />
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h2><i class="fa fa-list"></i> ODG - {{convocation.title}} del {{convocation.start | date:'dd.MM.yyyy'}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th>Titolo</th>
						<th>Descrizione</th>
						<th>Data Inizio</th>
						<th>Data Fine</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="convocation in convocations">
						<td>{{convocation.title}}</td>
						<td>{{convocation.description}}</td>
						<td>{{convocation.start | date:'dd-MM-yyyy HH:mm'}}</td>
						<td>{{convocation.end | date:'dd-MM-yyyy HH:mm'}}</td>
						<td><a href="#/convocations/{{getConvocationId(convocation)}}/edit"><i class="fa fa-search"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<a class="btn b-normal" ng-click="addNewDayOrd()"><i class="fa fa-file-text-o"></i> Nuovo Ordine</a>
		</div>
	</div>
</div>