<div class="container-fluid">
    <div class="row">
        <div class="page-header" style="margin: 1px 0 20px;">
            <h2>Lista Documenti</h2>

            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a href="#/">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li><span>Lista Documenti</span></li>
                </ol>

                <span class="sidebar-right-toggle" data-open="sidebar-right">&nbsp;</span>
            </div>
        </div>
    </div>

	<div class="row">
        <div class="col-md-2 folders-menu">
            <h6 class="title">Cartelle</h6>
            <hr class="separator">
            <ul class="mg-folders" frang-tree>
				<li>
					<i class="fa fa-chevron-right"></i> <b>Default</b>
				</li><li>
					<b>Privati</b>
				</li><li>
					<b>Preferiti</b>
				</li>
            </ul>
        </div>
        <div class="col-md-10 media-gallery">
            <div class="row mg-files">
				<input id="fileupload" type="file" name="file" multiple data-url="/uploadCustom" data-sequential-uploads="true">
                <table class="table table-striped">
					<thead>
						<th>Nome</th>
						<th>Tipo</th>
						<th>&nbsp;</th>
					</thead>
					<tbody>
						<tr ng-repeat="document in documents">
							<td>{{document.name}}</td>
							<td>{{getDocumentTypeName(document)}}</td>
							<td>
								<a class="btn btn-info" href="/docrs/getAsset?path={{document.path}}"><i class="fa fa-search"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
            </div>
        </div>
    </div>
</div>