<div class="container-fluid">
	<div class="row">
		<div class="page-header" style="margin: 1px 0 20px;">
			<h2>Anagrafica</h2>
			
			<div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a href="#/">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li><span>Anagrafica</span></li>
                </ol>

                <span class="sidebar-right-toggle" data-open="sidebar-right">&nbsp</span>
            </div>
		</div>
	</div>
	
	<div class="row">
        <div class="col-xs-12">
			<h2>
				<i class="fa fa-list"></i> Gestione utenti
			</h2>
		</div>
    </div>
    
    <div class="row">
		<div class="col-md-12">
			<div class="col-sm-10">
				<a target="_self" href="#/anagrafica/listaUtenti">
                	Lista Utenti
                </a>
			</div>
			<div class="col-sm-10">
				<a target="_self" href="#/anagrafica/nuovoUtente">
                	Nuovo Utente
                </a>
			</div>
		</div>
	</div>
	
</div>