<div class="container-fluid">
	<div class="row">

		<div class="page-header" style="margin: 1px 0 20px;">
			<h2>Calendario Utente</h2>

			<div class="right-wrapper pull-right">
				<ol class="breadcrumbs">
					<li>
						<a href="#/">
							<i class="fa fa-home"></i>
						</a>
					</li>
					<li><span>Calendario Utente</span></li>
				</ol>

				<span class="sidebar-right-toggle" data-open="sidebar-right">&nbsp</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12" ui-calendar="uiConfig.calendar" ng-model="eventsSource"></div>
	</div>
</div>